body {
}

.page-structure {
    margin: 1rem;
}

    .page-structure .global-form {
    }

        .page-structure .global-form .inner-form {
            display: flex;
            flex-wrap: nowrap;
            gap: 2rem;
            margin: 0 1rem;
        }

            .page-structure .global-form .inner-form .color-background,
            .page-structure .global-form .inner-form .recto-card {
                display: flex;
                flex-direction: column;
            }

                .page-structure .global-form .inner-form .color-background .input,
                .page-structure .global-form .inner-form .recto-card .input {
                    height: 100%;
                    width: 100%;
                    background-color: #ffb4b4;
                    border-radius: 1rem;
                }

    .page-structure .list-card {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem;
    }

        .page-structure .list-card .type-card {
            flex: auto;
            max-width: calc(50%-1rem);
            min-width: calc(50%-1rem);
            background-color: #faf7f7;
            border-radius: 1rem;
            padding: 1rem;
            display: flex;
            gap: 1rem;
            transition: all 0.3s ease;
        }

            .page-structure .list-card .type-card:hover {
                background-color: #e7e3e3;
                cursor: pointer;
            }

            .page-structure .list-card .type-card .img-card {
                flex: auto;
                max-width: 100px;
            }

            .page-structure .list-card .type-card .describe-card {
                flex: auto;
            }
